# JSON-LD Validation Report

Generated: 2026-06-25T10:00:13.150306+00:00

Overall status: PASS

## Checks

### model/v0.1/data-product-context.jsonld

Status: PASS

JSON parsed and JSON-LD expanded successfully into 0 top-level node(s).

### model/v0.1/data-product-valid.jsonld

Status: PASS

JSON parsed and JSON-LD expanded successfully into 1 top-level node(s).

### model/v0.2/data-product-context.jsonld

Status: PASS

JSON parsed and JSON-LD expanded successfully into 0 top-level node(s).

### model/v0.2/data-product-invalid.jsonld

Status: PASS

JSON parsed and JSON-LD expanded successfully into 1 top-level node(s).

### model/v0.2/data-product-valid.jsonld

Status: PASS

JSON parsed and JSON-LD expanded successfully into 1 top-level node(s).

### model/v0.3/data-product-context.jsonld

Status: PASS

JSON parsed and JSON-LD expanded successfully into 0 top-level node(s).

### model/v0.3/data-product-valid.jsonld

Status: PASS

JSON parsed and JSON-LD expanded successfully into 1 top-level node(s).

### model/v0.3/energy-reading-record-context.jsonld

Status: PASS

JSON parsed and JSON-LD expanded successfully into 0 top-level node(s).

### model/v0.3/energy-reading-record-invalid.jsonld

Status: PASS

JSON parsed and JSON-LD expanded successfully into 1 top-level node(s).

### model/v0.3/energy-reading-record-valid.jsonld

Status: PASS

JSON parsed and JSON-LD expanded successfully into 1 top-level node(s).
