# RDF Syntax Validation Report

Generated: 2026-06-25T10:00:12.325583+00:00

Overall status: PASS

## Checks

### model/v0.1/building-energy-ontology.ttl

Status: PASS

Parsed successfully with 30 triples.

### model/v0.1/data-product-metadata-shapes.ttl

Status: PASS

Parsed successfully with 32 triples.

### model/v0.2/building-energy-ontology.ttl

Status: PASS

Parsed successfully with 54 triples.

### model/v0.2/data-product-metadata-shapes.ttl

Status: PASS

Parsed successfully with 62 triples.

### model/v0.3/building-energy-ontology.ttl

Status: PASS

Parsed successfully with 101 triples.

### model/v0.3/data-product-metadata-shapes.ttl

Status: PASS

Parsed successfully with 62 triples.

### model/v0.3/energy-reading-record-shapes.ttl

Status: PASS

Parsed successfully with 40 triples.
